<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ site.description }}">
<meta name="author" content="Dana C. Ernst">

<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

<title>{{ site.name }}</title>

<!-- Bootstrap core CSS -->
<!-- <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- <link href="{{ site.baseurl }}/css/bootstrap.css" rel="stylesheet"> --> <!-- This is what I was using -->

<!-- Custom styles for this template -->
<link href="{{ site.baseurl }}/css/sticky-footer-navbar.css" rel="stylesheet">
<link href="{{ site.baseurl }}/css/extra.css" rel="stylesheet">
<link rel="stylesheet" href="/css/css/academicons.css"/>

<!-- stylesheet for pygments to work -->
<link href="{{ site.baseurl }}/css/pygments.css" rel="stylesheet">

<!-- MathJax -->
<script type="text/x-mathjax-config">MathJax.Hub.Config({"HTML-CSS": {preferredFont: "Gyre-Termes"}, tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML'></script>
<!-- Old MathJax -->
<!-- <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script> -->
<!-- <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> -->

<!-- Font Awesome -->
<!-- old version
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"> -->
<!-- version 5 -->
<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

<!-- SageCell -->
<script src="https://sagecell.sagemath.org/static/embedded_sagecell.js"></script>
<script>sagecell.makeSagecell({"inputLocation": ".sage"});</script>

<!-- Feed Stuff -->
{% feed_meta %}
{% seo %}

</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">

<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
</div>

<div class="collapse navbar-collapse">
<ul class="nav navbar-nav">

<li><a href="{{ site.baseurl }}/blog/">Blogging</a></li>

<li><a href="{{ site.baseurl }}/teaching/">Teaching</a></li>

<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Scholarship <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li><a href="{{ site.baseurl }}/scholarship/">Scholarship Overview</a></li>
<li><a href="{{ site.baseurl }}/scholarship/academic-writing">Academic Writing</a></li>
<li><a href="{{ site.baseurl }}/scholarship/undergraduate-research">Undergraduate Research</a></li>
<li><a href="{{ site.baseurl }}/IBL-IntroToProof">Book: Intro to Proof via IBL</a></li>
<li><a href="{{ site.baseurl }}/scholarship/talks">Talks</a></li>
<!-- <li><a href="http://maateachingtidbits.blogspot.com">Teaching Tidbits</a></li> -->
</ul>
</li>

<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li><a href="{{ site.baseurl }}/resources/teaching-resources">Teaching Resources</a></li>
<li><a href="{{ site.baseurl }}/resources/letters-of-recommendation">Letters of Recommendation</a></li>
<li><a href="{{ site.baseurl }}/resources/free-and-open-source-textbooks">Free and Open-Source Textbooks</a></li>
<li><a href="{{ site.baseurl }}/resources/inquiry-based-learning">Inquiry-Based Learning</a></li>
<li><a href="{{ site.baseurl }}/resources/quick-latex-guide">Quick LaTeX Guide</a></li>
<li><a href="https://naumathstat.github.io/problem-of-the-week/">Problem of the Week</a></li>
</ul>
</li>

<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Other <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li><a href="https://nau.edu/cefns/natsci/math/">NAU Mathematics &amp; Statistics</a></li>
<li><a href="http://naumathstat.github.io/seminars/">Department Seminars</a></li>
<li><a href="http://naumathstat.github.io/seminars/acgt/">ACGT Seminar</a></li>
<li><a href="http://naumathstat.github.io/seminars/famus/">FAMUS</a></li>
<li><a href="http://www.inquirybasedlearning.org">Academy of Inquiry-Based Learning</a></li>
<!-- <li><a href="http://www.mathlearningbyinquiry.org">Mathematics Learning by Inquiry</a></li> -->
<li><a href="https://fourcornerscommit.github.io">Four Corners COMMIT</a></li>
<li><a href="http://www.sagemath.org">Sage</a></li>
<li><a href="https://cocalc.com">CoCalc</a></li>
<li><a href="http://maateachingtidbits.blogspot.com">MAA Teaching Tidbits</a></li>
<li><a href="https://mathblogging.org">MathBlogging.org</a></li>
<li><a href="https://boolesrings.org">Booles' Rings</a></li>
<li><a href="http://maa.org">Mathematical Association of America</a></li>
<li><a href="http://ams.org">American Mathematical Society</a></li>
<li><a href="https://aimath.org">American Institute of Mathematics</a></li>
<li><a href="https://www.maa.org/programs/faculty-and-departments/project-next">Project NExT</a></li>
<li><a href="https://www.mathjax.org">MathJax</a></li>
<li><a href="https://pretextbook.org">PreTeXt</a></li>
</ul>
</li>

<!-- <li><a href="{{ site.baseurl }}/about/">About</a></li> -->

<!-- <li><a href="http://maamathedmatters.blogspot.com">Math Ed Matters</a></li> -->

</ul>
</div><!--/.nav-collapse -->
</div>
</div>
