<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-12">
<div class="panel panel-primary">
  <div class="panel-heading">Welcome!</div>
  <div class="panel-body">
  My name is Dana Ernst and I am an assistant professor in the <a href="http://nau.edu/cefns/natsci/math/">Department of Mathematics and Statistics</a> at <a href="http://nau.edu">Northern Arizona University</a> in <a href="https://www.google.com/maps/place/Flagstaff,+AZ/@35.1812076,-111.607959,12z/data=!3m1!4b1!4m2!3m1!1s0x872d8ef7da2e2631:0x8e1f3ca1cedbb300?hl=en">Flagstaff, AZ</a>.
  </div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-12">
<div class="panel panel-primary">
  <div class="panel-heading">Current Courses</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
    <dt><i class="fa fa-university fa-2x"></i></dt>
    <dd><a href="">MAT 136: Calculus I</a></dd>
    <dt><i class="fa fa-university fa-2x"></i></dt>
    <dd><a href="">MAT 511: Abstract Algebra I</a></dd>
    </dl>
  </div>
</div>
</div>
</div>
