thead th {
	color: #6fb536;
}

#uberlink a:link, #uberlink a:visited, 
#uberlink a:hover, #uberlink a:active {
	color: #6fb536;
}

#right li a:hover, .right2 li a:hover {
	color: #6fb536;
}

#head h2 {
	color: #6fb536;
}
	
h2 {
	color: #6fb536;
}

h3 {
	color: #6fb536;
}

img.content, a img.content {
	background-color: #6fb536;
}

#right li a, .right2 li a {
	color: #6fb536;
}

#content a, #content2 a, #foot a {
	color: #6fb536;
}

table caption {
  	color: #666;;
}

#breadcrumbs {
	color: #6fb536;
}

#breadcrumbs a {
	color: #6fb536;
}