
#nav li a:hover {
	color: #3366CC;
	}

#head h2 {
	color: #3366CC;
	}

#right li a:hover, .right2 li a:hover {
	color: #3366CC;
	}
	
h2 {
	color: #3366CC;
	}
	
#content a, #content2 a, #foot a {
	color: #3366CC;
	border-bottom: 1px dotted #3366CC;
	}
	
img.content, a img.content {
	background-color: #3366CC;
	}
	
thead th {
  color: #3366CC;
}