
#nav li a:hover {
	color: #D89C6B;
	}

#head h2 {
	color: #D89C6B;
	}

#right li a:hover, .right2 li a:hover {
	color: #D89C6B;
	}
	
h2 {
	color: #D89C6B;
	}
	
#content a, #content2 a, #foot a {
	color: #D89C6B;
	border-bottom: 1px dotted #D89C6B;
	}
	
img.content, a img.content {
	background-color: #E1CC99;
	}
	
thead th {
  color: #D89C6B;
  }
