{% include header.html %}

<!-- Begin page content -->
<div class="container">

<div class="page-header">
<h1>{{ page.title }}</h1>
</div>

<div class="row">

<div class="col-xs-12 col-md-8 col-lg-9">

<!-- <ul class="pager">
{% if page.previous.url %}
<li class="previous"><a href="{{page.previous.url | prepend: site.baseurl}}"
title="Previous: {{page.previous.title}}">
{% else %}
<li class="previous disabled"><a href="#">
{% endif %}
&larr; Previous</a></li>
<li><a href="{{site.baseurl}}/blog">All</a></li>
{% if page.next.url %}
<li class="next"><a href="{{page.next.url | prepend: site.baseurl}}"
title="Next: {{page.next.title}}">
{% else %}
<li class="next disabled"><a href="#">
{% endif %}
Next &rarr;</a></li>
</ul> -->

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">{{ page.title }}</li>
</ol>

{{ content }}
<div class="visible-xs visible-sm">
<p><br />
</p>
</div>

</div>

<div class="col-xs-12 col-md-4 col-lg-3">
{% include sidebar.html %}
</div>

</div>

</div>

{% include footer.html %}
